
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root {
    --cor-de-fundo: #000000;
}
body{

    background-color: rgb(158, 93, 182);
}

h2 {

    color: rgb(47, 2, 61);
} 
 h3{

    font-family: ' ';
 }

